$themes: (
  default: (
    // 背景颜色
    bg-color: #f8fafc,
    // 文字颜色
    text-color: #1e293b,
    // 边框颜色
    border-color: #e2e8f0,
    // 添加图标背景颜色变量
    icon-bg-color: #e2e8f0,
  ),
  dark: (
    bg-color: #0f172a,
    text-color: #f1f5f9,
    border-color: #334155,
    icon-bg-color: #2d3a4f,
  ),
);

// 生成对应的主题变量
@each $theme-name, $theme-map in $themes {
  html[hap-theme="#{$theme-name}"] {
    @each $property, $value in $theme-map {
      --#{$property}: #{$value};
    }
  }
}

// 背景颜色
.bg-color {
  background-color: var(--bg-color);
}
// 边框颜色
.border-color {
  border-color: var(--border-color);
}
// 文本颜色
.text-color {
  color: var(--text-color);
}
// 添加图标背景颜色
.icon-bg-color:hover {
  background-color: var(--icon-bg-color);
  color: var(--el-color-primary);
}
